body{
  background-color: #202124;
  text-align: center;
}

*{
  padding: 0;
  margin: 0;
}

.BodyPublicaciones, .publicacionFooter{
  background-color: rgba(0,0,0, .5);
  padding: 20px;
  margin: 0 auto;  
}
.Header{
  background-color: #3E3F44;
  color: #fff;
  
}


.BodyPublicacines{
  margin-top: 20px;
}

.publicacionFooter{  
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
}